<div class="row">
  <div class="col-md-4">
    <div class="btn-group">
      <%= link_to 'Next', coral_path(@coral.id+1), class: "btn btn-default" %>
      <%= link_to 'Edit', edit_coral_path(@coral), class: "btn btn-default" %>
      <% if @coral.id != 1 %>
        <%= link_to 'Prev', coral_path(@coral.id-1), class: "btn btn-default" %>
      <% end %>
      <%#= link_to 'Main', corals_path, class: "btn btn-default" %>
    </div>

    <h1>
      <% if @coral.location=="HI" %>Heron Island<% end %>
      <% if @coral.location=="LI" %>Lizard Island<% end %>
      - <%= @coral.exposure %>
    </h1>

    <p>
      <strong>Image:</strong>
      <%= @coral.image_id %>
    </p>

    <p>
      <strong>Species:</strong>
      <%= @coral.species %>
    </p>

    <p>
      <strong>Growth form:</strong>
      <%= @coral.growth_form %>
    </p>

    <p>
      <strong>Distance:</strong>
      <%= @coral.distance %>
    </p>

    <p>
      <strong>Notes:</strong>
      <%= @coral.notes %>
    </p>


    <h3>Files</h3>

    <% img = @coral.location + '_' + @coral.exposure + '_' + "%03d" % @coral.image_id %>
    <% @temp = @files.find_all{|item| item.include? img } %>

    <% @temp.each do |file| %>
      <%= link_to file.split('/').last, @file_path + 'csf_files/' + file.split('/').last, :target => '_blank'  %><br/>
    <% end %>

  </div>

  <div class="col-md-8">
    <h3>Current Images</h3>

    <% @temp_csf = @files_csf.find_all{|item| item.include? img } %>

    <% @temp_csf.each do |i| %>
      <%= link_to image_tag(image_path('csf/' + i.split('/').last), :width => 325), image_path('csf/' + i.split('/').last), :target => '_blank' %>
    <% end %>

    <h3>Outlined Images</h3>

    <% @temp_outline = @files_outline.find_all{|item| item.include? img } %>

    <% @temp_outline.each do |o| %>
      <%= link_to image_tag(image_path('csf_outlines/' + o.split('/').last), :width => 325), image_path('csf_outlines/' + o.split('/').last), :target => '_blank' %>
    <% end %>


  </div>
</div>
